@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Hanken Grotesk', sans-serif;
}

ul, ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

button {
font: inherit;
border: none;
outline: none;
background: none;
cursor: pointer;
}