* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: var(--font-primary);
    font-size: var(--font-size-base);
     overflow-x: hidden;
}

ul, ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

button {
font: inherit;
border: none;
outline: none;
background: none;
cursor: pointer;
}